/* styles.css */

/* Reset de estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación superior */
.top-nav {
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 1rem;
}

.title h1{
color: #000;
align-items: left;
}

.logo img {
    max-width: 50px;
}

.menu li {
    list-style: none;
    margin-right: 1rem;
    display: grid;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    grid-template-columns: repeat(4, 1fr);
}

/* Sección de héroe */
.hero {
    background-image: url("../resources/images/background.png");
    background-size: cover;
    color: #000;
    text-align: right;
    padding: 10rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Sección de categorías */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.category {
    text-align: center;
    grid-template-columns: repeat(3, 0.9rem);
}

.category img {
    max-width: 100%;
    border-radius: 8px;
}

.category h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* Cuadrícula de productos */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem 0;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.product h3 {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.price {
    font-weight: bold;
    color: #333;
}

.show-more {
    background-color: #fff;
    color: #aaaaaa;
    border: #ff9500;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    align-items: center;
    transition: background-color 0.3s ease;
}

.show-more:hover {
    background-color: #e65c00;
    align-items: center;
}

/* Pie de página */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
}

.footer-links li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-help a {
    text-decoration: none;
    color: #333;
}

.footer-newsletter a {
    text-decoration: none;
    color: #333;
}

.social-icons a {
    margin-right: 1rem;
}

.social-icons img {
    max-width: 20px;
}
